h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $spacing-md;
  line-height: 1.2;
}

.paragraph {
  &--1 {
    font-size: 1rem;
  }

  &--2 {
    font-size: 0.875rem;
  }

  &--3 {
    font-size: 0.75rem;
  }
}
